html{
	height: 100%;
	margin: 0;
}


body{	

	background-image:url('2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}


/* Website Title */
.container{
	padding: 30px;
	position: relative;
	background: #eb6d65;
	background-size: 500% 500%;

}


.container-heading{
	margin: 0;
	font-size: 35px;
}

.description,.footer-description{
    font-style: italic;
    font-size: 14px;
    margin: 3px 0 0;
}

/* Text Area */
.ml-container{

    margin: 30px 0;
	flex: 1 0 auto;
}

.message-box{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: #E9E9E9;
  margin-bottom: 20px;
}



/* Predict Button */
.my-cta-button{
    	background-color:#E9E9E9;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 30px;
	margin-top: 10px;
	text-decoration:none;
	transition: 0.5s ease-out;
}

.my-cta-button:hover{
	background-color: #0c0c0c;
	color: #ffffff;
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
}

.my-cta-button:active{
	position:relative;
	top:1px;
}

/* Footer */
.footer{
	bottom: 0;
    font-size: 14px;
	padding: 20px;
	flex-shrink: 0;
	position: relative;
	background: #eb6d65;
	background-size: 500% 500%;
	
}

.contact-icon{
	color: #000000;
	padding: 7px;
}


.contact-icon:hover{
	color: #8c8c8c;
}




h1 {
	color: white;
	text-shadow: 2px 2px 4px #000000;
  }


h2 {
color: white;
text-shadow: 2px 2px 4px #000000;
}

.description{
	color: black;
}
